* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    text-transform: capitalize;
}

h1, p {
    padding-bottom: 1em;
}

textarea {
    /* height: 100%; */
    display: inline-block;
    flex-grow: 1;
    padding: 1em;
    font-size: 1.5em;
    resize: none;
    border-radius: 0.25em;
    border: none;
    background-color: whitesmoke;
}

label {
    font-size: 0.8em;
    text-align: center;
    margin: auto;
    width: 100%;
}

.header {
    display: flex;
    height: 2em;
    /* background-color: lightcoral; */
}

.header .nav {
    margin-left: 1em;
    margin-top: 1em;
    font-size: 1.25em;
    color: lightgray;
    transition: all 1s ease;
}

.header .nav a {
    text-decoration: none;
    color: lightgray;
    padding: 0.25em;
}

.header .nav a:hover {
    border-radius: 0.25em;
    color: royalblue;
    /* background-color: lightskyblue; */
    cursor: pointer;
}

.header .nav:hover {
    margin-left: 1.5em;
    color: black;
    transition: all 1s ease;
    cursor: default;
}

.body {
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
    margin: 3em auto 3em auto;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    width: 80%;
}

.instructions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 1em;
}

.explanations {
    font-size: 1.25em;
    cursor: default;
}

/* .explanations p {font-kerning: normal;} */
.explanations li {margin-left: 2em;}
.explanations span {color: slateblue; cursor: pointer;}

.assignments {
    height: 100%;
    width: 25%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;
}

.assignments label {width: auto;}

.guide-parent {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-content: middle;
}
.guide-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -2em;
    cursor: pointer;
}

.arrow {
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    /* background-color: lightcoral; */
    padding: 0.25em;
    border-radius: 0.25em;
    line-height: .2;
    font-weight: 800;
    vertical-align: middle;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s ease;
}

.arrow-visible {
    visibility: visible;
    opacity: 1;
    transition: all 2s ease;
}

.select {
    border: none;
    font-size: 3em;
    background-color: white;
    border-radius: 0.25em;
    text-align: center;
    /* width: 3em; */
    margin-bottom: 0.25em;
    /* flex-shrink: 1; */
    /* background-color: pink; */
    border: 1px solid rgb(225, 225, 225);
    transition: all 1s ease;
}

.select:hover {
    background-color: rgb(230,230,230);
    transition: all 0.25s ease;
}

.select:focus {
    /* border-radius: 0.25em; */
    background-color: lightyellow;
    transition: all 0.25s ease;
}

.button {
    border: 1px solid darkgray;
    font-size: 1.2em;
    background-color: slategray;
    color: white;
    padding: 0.25em 1em 0.25em 1em;
    /* margin: 0.5em; */
    border-radius: 0.25em;
    transition: all 1s ease;
    /* width: 100%; */
}

.button:hover {
    background-color: rgb(115, 196, 233);
    color: white;
    transition: background-color 0.25s ease;
}

.button:active {
    background-color: salmon;
    border: 1px red solid;
    color: black;
    transition: all 0.25s ease;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 6em;
    padding-top: 1em;
    padding-bottom: 1em;
    /* background-color: peru; */
    transition: all 1s ease;
}

.output {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    align-items: flex-start;
    /* justify-content: stretch; */
    /* padding: 1em; */
    /* width: 100%; */
}

.output table {
    flex-grow: 1;
    /* background-color: lightgreen; */
    /* padding: 1em; */
    margin: 1em;
    border-radius: 0.25em;
    /* width: 1fr; */
}

.output th,
.output tr,
.output td {
    margin: 0.5em;
    padding: 0.25em 0.5em 0.25em 0.5em;
    /* text-align: center; */
    height: auto;
    background-color: rgb(245,245,245);
    text-transform: capitalize;
}

.output th:hover,
.output tr:hover,
.output td:hover {
    background-color: lightskyblue;
}

.output th {
    border: 1px solid darkgray;
    background-color: rgb(233, 233, 233);
}

.output .th-n {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 100;
    font-size: 0.8em;
    vertical-align: middle;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    height: 2em;
    padding: 1em 0.5em 0.5em 0.5em;
    background-color: slategrey;
    color: white;
    /* text-align: center; */
    align-items: center;
    align-content: center;
}

.footer a {text-decoration: none; color: lightskyblue;}
.footer a:active {color: darkblue;}
.footer a:hover {color: black;}
.footer span {font-weight: 600;}

.highlight {
    border: 1px solid red;
    background-color: lightsalmon;
    transition: background-color 0.5s ease,
                border 1s ease;
}

.warning {
    background-color: lightpink;
    transition: all 0.5s ease;
}

.warning-banner {
    /* border-radius: 0.25em; */
    width: 100%;
    background-color: pink;
    padding: 0.25em;
    border-left: 5px solid crimson;

    color: darkred;
    margin: auto;
    font-size: 1.5em;
    opacity: 0.5;
}